.container {
  position: fixed;
  padding: 0px 15px;
  width: 100%;
  bottom: 0;
  height: 50px;
  left: 0;
}

.plusButton {
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  background: white;
  border-radius: 100px;
  top: -15px;
  font-size: 16px;
  font-family: "Roboto Mono";
  transition: all 0.5s;
  outline: none;
}

.plusButton:hover {
  cursor: pointer;
  font-size: 20px;
  transform: scale(1.1);
}

.mainVolumeWrapper {
}

.controllerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 25px;
  background: rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.divider {
  display: inline-block;
  color: white;
  margin: 0px 10px;
}

.radioLink {
  margin-top: 1px;
  display: inline-block;
  text-decoration: none;
  color: white;
  margin-right: 5px;
}
