@import "../scss/colors";

.container {
  display: flex;
  flex-wrap: wrap;
}

h1,
label,
input {
  color: #fff;
}

.synthAmount {
  position: fixed;
  left: 15px;
  top: 15px;
  opacity: 0;
}

$colors: $color1, $color2, $color3, $color4, $color5;

@for $i from 1 through length($colors) {
  .container > div:nth-child(#{$i}n) {
    // background: linear-gradient(141deg, nth($colors, $i), nth($colors, $i)/2);
    background: nth($colors, $i);
    transition: width 2s;
  }
}
