.recorder {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

.saving {
  color: white;
  margin: 0px;
  padding: 0px;
  animation: pulse 2s infinite;
  margin-left: 5px;
}

.recordButton {
  display: block;
  margin: 0px 5px 0px 10px;
  border: none;
  background: red;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  opacity: 0.6;
  cursor: pointer;
  outline: none;
}

.armed {
  animation: pulse 2s infinite;
}
