@import "../scss/mixins";

$white: #fff;
$black: #000;

.container {
  height: 40px;
  width: 100%;
  position: relative;
  cursor: pointer;

  &:active {
    cursor: grabbing;
  }
}

.track {
  align-items: center;
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.thumb {
  height: 100%;
  position: absolute;
  @include shadow(2);
}

.whiteLayer {
  height: 100%;
  width: 100%;
  background: white;
}

.label {
  background: transparent;
  color: $white;
  padding-left: 15px;
  z-index: 1;
}
